/BullozerKurs01_MCU1.Debug.cspy.bat
/BullozerKurs01_MCU1.Debug.cspy.ps1
/BullozerKurs01_MCU1.Debug.driver.xcl
/BullozerKurs01_MCU1.Debug.general.xcl
/BullozerKurs01_MCU1.crun
/BullozerKurs01_MCU1.dnx
/BullozerKurs01_MCU1.wsdt
*.dbgdt
